{% extends 'base.html' %}

{% block title %}
<!--Title and Header-->
    <h1>I-Planetery</h1>
    <h2> For all your Interplanetary needs! </h2>

<!--Links-->
<form action="/store">
    <button type="submit">Visit Store</button>
</form>

<!--Buttons-->
<form action="/cart/add">
    <button type ='submit'>Go to Request Devices! </button>
</form>

<!--Images-->
<div class="polaroid1">
    <img src="static/bubble.jpg" alt="Bubble Mask" style="width:100%">
    <div class="container">
        <p>Bubble Mask</p>
        <p>~Mask made of the finest Gilly Weed Extract (MMO)~</p>
    </div>
</div>

<div class="polaroid2">
    <img src="static/towel.jpg" alt="Towel" style="width:100%">
    <div class="container">
        <p>Towel</p>
        <p> ~For all needs~ </p>
    </div>
</div>

<div class="polaroid3">
    <img src="static/forcefield.jpg" alt="Forcefield" style="width:100%">
    <div class="container">
        <p>Forcefield</p>
        <p>~Mask made of the finest Gilly Weed Extract (MMO)~</p>
    </div>
</div>


{%endblock%}

