<!doctype html>

{% extends 'base.html' %}


{% block title %}
<!--Title and Header-->
    <h1>I-Planetery</h1>
    <h3> Browse to your Commanders Content! </h3>
    
<!--Links-->
<!-- <a href = 'store/display'> Visit Store </a><br> -->
<a href = '/store/cart'> See Cart </a>

<!-- Display store items -->
<div class= row>
<div class="col-md-4">
{% for items in test_items %}
<img src = {{items.image}}>
    <h3>{{items.title}}</h3>
    <h4>{{items.description}}</h4>
    <h4>{{items.price}}</h4>
    <a href = '/store/cart'>Add To Cart</a>
{% endfor %}
</div>
</div>

{%endblock%}